.titleHome {
    text-align:center;
    margin-right: 3rem;
    font-size: 50px;
    color:#2b422d;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.linkLogin {
    text-align: center;
      display: block;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      margin: 0px auto 0px;
    }

.linkLogin:hover {
  color:rgb(7, 57, 133);
}

.slider {
  z-index: -20;
}

.margin {
  margin-top: 10rem;
}


.comida {
  width: 1280px;
  height: 720px;
}



